.sidebar {
    margin: 0;
    padding: 0;
    width: 130px;
}

.link {
    color: black;
    display: block;
    width: auto;
    padding: 5px;
    text-decoration: none;
}

.link_text {
    font-size: 16px;
}

.link:hover {
    background-color: #F1F4FC;
    border: transparent;
}