body {
  background-color: #F6F7F9;
}

.box-wrapper {
  height: 100%;
  display: flex;
}

.left-container {
  display: flex;
  justify-content: end;
  width: 25%;
}

.headbar-wrapper {
  width: 100%;
}

.sidebar-wrapper {
  margin-top: 10%;
  display: flex;
  justify-self: end;
  width: 130px;
}

.mid-container {
  width: 65%;
}

.right-container {
  width: 15%;
}


.header {
  width: auto;
  height: 150%;
  background-color: darkgray;
  max-height: 300px;
}

.spacing {
  height: 25px;
}

.user-wall {
  background-color: #fff;
  width: 70%;
  border-radius: 0.50em;
}

.post-box-wrapper {
  margin: 5%;
}

